@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Tasks Manager</h1>

    <section>
        <p>Stay organized and productive with our Tasks Manager. Create, manage, and prioritize your to-do lists effortlessly.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <button class="register-button" onclick="location.href='/Identity/Account/Register'">Get Started</button>
        }
        else
        {
            <button class="register-button" onclick="location.href='/MyTasks'">Manage Tasks</button>            
        }
    </section>
</div>
